body {
    font-family: 'Roboto', sans-serif;
}

.block-message {
    width: 300px;
    height: 100px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 30px 0 0;
	font-size: 23px;
}

.img{
	width: 300px;
    justify-content: center;
    border-radius: 0 0 30px 30px;
}